<a class="social-button facebook-button"
   href="https://www.facebook.com/profile.php?id=100080040966300"
   target="_blank"
   aria-label="Síguenos en Facebook"
   title="Síguenos en Facebook">
  <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
</a>

<a class="social-button instagram-button"
   href="https://www.instagram.com/plaxtilineas/"
   target="_blank"
   aria-label="Síguenos en Instagram"
   title="Síguenos en Instagram">
  <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
</a>

<a class="social-button whatsapp-button"
   href="https://wa.me/1234567890?text=Hola%2C%20quisiera%20más%20información."
   target="_blank"
   aria-label="Chatea con nosotros por WhatsApp"
   title="Chatea con nosotros por WhatsApp">
  <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
  <div class="notification">1</div>
</a>
