<app-banner-full
  titleBlack="Colchones Ortopédicos"
  titleCyan="Para tu Descanso"
  description="Descubre la comodidad y el bienestar que ofrecen nuestros colchones ortopédicos. Diseñados especialmente para alineación de la columna vertebral, proporcionan el soporte perfecto que tu cuerpo necesita para un descanso reparador y rejuvenecedor. Relájate como nunca antes."
  image="https://res.cloudinary.com/dsv1gdgya/image/upload/v1768532392/cama_zqgkxc.png"
  imagePosition="right">
</app-banner-full>

