<section class="seccion-aliados">
  <div class="contenido-aliados">
    <h3 class="titulo-secundario">NUESTROS ALIADOS</h3>
    <h2 class="titulo-principal">Convertimos ideas en obras de arte</h2>
    <p class="descripcion">
      El confort y la comodidad siempre será nuestro lema ante los clientes
    </p>
  </div>

  <div class="logos-aliados">
    <img src="assets/img/espumas_santafe.png" alt="Espumas Santafé" class="logo-aliado" />
    <img src="assets/img/industriaSoñar.png" alt="Industrias Soñar" class="logo-aliado" />
    <img src="assets/img/logoDECOnew.png" alt="DECO Fabrics" class="logo-aliado" />
    <img src="assets/img/Ramguiflex.png" alt="Ramguiflex" class="logo-aliado" />
  </div>
</section>
