<section class="header-contacto">
  <div class="header-grid">

    <!-- SVG decorativo a la izquierda -->
    <div class="header-svg">
      <img src="/assets/img/undraw_new-message_qvv6.svg" alt="Decorativo contacto" />
    </div>

    <!-- Contenido a la derecha -->
    <div class="header-content">
      <h1>Contáctanos <span class="resaltado">hoy</span></h1>
      <p class="subtitulo">¿Tienes preguntas? Escríbenos y te responderemos pronto.</p>
      <div class="decorativo-linea">
        <span></span><span></span><span></span>
      </div>
    </div>

  </div>

  <!-- Íconos flotantes decorativos -->
  <div class="iconos-contacto">
    <fa-icon [icon]="['fas', 'envelope']" class="icon icon-1"></fa-icon>
    <fa-icon [icon]="['fas', 'phone']" class="icon icon-2"></fa-icon>
    <fa-icon [icon]="['fas', 'comment-dots']" class="icon icon-3"></fa-icon>
    <fa-icon [icon]="['fas', 'envelope']" class="icon icon-4"></fa-icon>
    <fa-icon [icon]="['fas', 'phone']" class="icon icon-5"></fa-icon>
    <fa-icon [icon]="['fas', 'comment-dots']" class="icon icon-6"></fa-icon>
    <fa-icon [icon]="['fas', 'phone']" class="icon icon-7"></fa-icon>
    <fa-icon [icon]="['fas', 'envelope']" class="icon icon-8"></fa-icon>
    <fa-icon [icon]="['fas', 'comment-dots']" class="icon icon-9"></fa-icon>
    <fa-icon [icon]="['fas', 'envelope']" class="icon icon-10"></fa-icon>
  </div>
</section>
