<header class="head">
  <div class="navbar-content">
    <!-- Menú izquierdo -->
    <div class="nav-group izquierda" [class.shift]="logoHover">
      <a routerLink="/" routerLinkActive="active">Inicio</a>
      <a routerLink="/productos" routerLinkActive="active">Catálogo</a>
    </div>

    <!-- Logo central -->
<div class="logo-dual" 
     (mouseenter)="logoHover = true" 
     (mouseleave)="logoHover = false"
     [class.expandido]="logoHover">
  <a routerLink="/">
    <img src="assets/img/logo-mini.png" alt="Logo Mini" class="logo-mini" />
    <img src="assets/img/logo-grande.png" alt="Logo Grande" class="logo-grande" />
  </a>
</div>


    <!-- Menú derecho -->
    <div class="nav-group derecha" [class.shift]="logoHover">
      <a routerLink="/nosotros" routerLinkActive="active">Quiénes Somos</a>
      <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
    </div>
  </div>

  <!-- Ícono llave a la derecha -->
  <div class="login-wrapper">
    <a routerLink="/login" aria-label="Ingreso administrativo">
      <fa-icon [icon]="faKey" class="login-icon"></fa-icon>
    </a>
  </div>
</header>