<section class="hero">
  <!-- Contenido textual -->
  <div class="hero-content">
    <h1>LO MEJOR PARA TU <span>DESCANSO.</span></h1>
    <p class="subtitle">Transformamos insumos en productos para el descanso.</p>
    <h2>Nuestros productos.</h2>
    <a routerLink="/productos" class="btn">Catálogo</a>
  </div>

  <!-- Carrusel de imágenes -->
  <div class="hero-carousel">
    <div class="carousel">
      <img src="https://res.cloudinary.com/dsv1gdgya/image/upload/v1768535114/WhatsApp_Image_2026-01-15_at_10.44.22_PM_ugjtjb.jpg" alt="Producto 1" />
      <img src="https://res.cloudinary.com/dsv1gdgya/image/upload/v1768524137/product8_naan9p.jpg" alt="Producto 2" />
      <img src="https://res.cloudinary.com/dsv1gdgya/image/upload/v1768536255/WhatsApp_Image_2026-01-15_at_11.03.58_PM_sehmb1.jpg" alt="Producto 3" />
    </div>
  </div>
</section>
