<h2 class="titulo">Panel de Administración</h2>

<div class="contenedor">
  <div class="tarjeta" (click)="navegar('categorias')">
    <fa-icon [icon]="faCategorias" size="3x"></fa-icon>
    <span>Categorías</span>
  </div>

  <div class="tarjeta" (click)="navegar('subcategorias')">
    <fa-icon [icon]="faSubcategorias" size="3x"></fa-icon>
    <span>Subcategorías</span>
  </div>

  <div class="tarjeta" (click)="navegar('productos')">
    <fa-icon [icon]="faProductos" size="3x"></fa-icon>
    <span>Productos</span>
  </div>
</div>
