<div class="dashboard-container">
  <header class="dashboard-header">
    <img src="assets/img/logo-grande.png" alt="Logo Espumas y Plásticos" class="logo" />
    <h1>
      <fa-icon [icon]="faPanel"></fa-icon>
      Panel de Administración
    </h1>
    <button (click)="logout()" class="logout-btn" title="Cerrar sesión">
      <fa-icon [icon]="faLogout"></fa-icon>
      Cerrar Sesión
    </button>
  </header>

  <main class="dashboard-main">
    <router-outlet></router-outlet>
  </main>
</div>
