:root {
  --color-principal: #009AA2;
  --color-secundario: #15CD82;
  --color-negro: #2D2D2D;
  --color-blanco: #FFFFFF;

  --color-complementario-1: #57C9C9;
  --color-complementario-2: #E1E2E3;
  --color-complementario-3: #71FFC2;
  --color-complementario-4: #9EA0A3;
  --color-complementario-5: #444444;
  --color-complementario-6: #056D6D;
}
